{% trans_default_domain 'SherlockodeCrud' %}
{% from _self import link %}
{% set order = gridView.grid.sorting|first %}
{% set orderField = gridView.grid.sorting|keys|first %}

{% if gridView.grid.config.config.translation_domain is same as(false) %}
    {% set translation_domain = false %}
{% else %}
    {% set translation_domain = gridView.grid.config.config.translation_domain %}
{% endif %}

<table>
    <thead>
        <tr>
            {% for field in gridView.grid.fields %}
                <th>
                    {% if field.isSortable %}
                        {% if orderField == field.key %}
                            <a href="{{ link(field.key, app.request.attributes, (order == 'desc' ? 'asc' : 'desc'), app.request.query) }}">
                                {{ order == 'desc' ? '&#8595;' : '&#8593;' }} {{ translation_domain is same as(false) ? field.label : field.label|trans({}, translation_domain) }}
                            </a>
                        {% else %}
                            <a href="{{ link(field.key, app.request.attributes, order, app.request.query) }}">
                                &#8597; {{ translation_domain is same as(false) ? field.label : field.label|trans({}, translation_domain) }}
                            </a>
                        {% endif %}
                    {% else %}
                        {{ translation_domain is same as(false) ? field.label : field.label|trans({}, translation_domain) }}
                    {% endif %}
                </th>
            {% endfor %}
            {% if gridView.grid.actions is defined and gridView.grid.actions is not empty %}
                <th>{{ 'sherlockode_crud.actions'|trans }}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for resource in gridView.data %}
            <tr>
                {% for field in gridView.grid.fields %}
                    <td>{{ sherlockode_crud_render_field(field, resource) }}</td>
                {% endfor %}
                {% if gridView.grid.actions is defined and gridView.grid.actions is not empty %}
                    <td>
                        <div class="btn-group">
                            {% for action in gridView.grid.actions %}
                                {{ include(action.template) }}
                            {% endfor %}
                        </div>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ knp_pagination_render(gridView.data) }}

{% macro link(field, attributes, order, parameters) %}
    {% set params = attributes.all('_route_params')|merge(parameters) %}
    {% set sorting = {'sorting': {(field): (order)}} %}

    {{ path(attributes.get('_route'), params|merge(sorting)|merge({'page': 1})) }}
{% endmacro %}
