{% extends '@SherlockodeCrud/crud/layout.html.twig' %}
{% trans_default_domain 'SherlockodeCrud' %}

{% block content %}
    {{ form_start(form) }}
        {% for child in form.children %}
            {{ form_row(child) }}
        {% endfor %}

    <button type="submit">{{ 'sherlockode_crud.save'|trans }}</button>
    <a href="{{ sherlockode_crud_path_generator(app.request, 'index') }}">{{ 'sherlockode_crud.back'|trans }}</a>
    {{ form_end(form) }}
{% endblock %}
